.col-1 {
  margin-right: 35px;
}

.col-2 {
  margin-left: 35px;
}

.current-degree {
  font-size: 100px;
  font-weight: 700;
}

.details {
  display: flex;
  flex-direction: row;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 2 / 7;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  margin-top: 10px;
  /* background: #1974D2; */
}

.info-container img {
  width: 70px;
}

.info-container h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section div {
  margin-bottom: 6px;
}

.section-info {
  font-weight: 600;
  font-size: 24px;
}

.section-title {
  font-size: 0.95em;
  font-weight: 600;
  color: rgba(242, 242, 242, 0.8);
}

.today {
  margin-top: 3px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .info-container {
    grid-column: 1 / 8;
    margin: 5px;
  }
}