.App {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 4fr 3.5fr;
  height: 100vh;
  background: #7EC0EE;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Quicksand', sans-serif;
}

.app-info-container {
  grid-row: 2 / 3;
  grid-column: 2 / 7;
  margin: auto;
  text-align: center;
}

.app-intro {
  font-size: 1.5em;
  color: #FFF;
  margin-top: 20px;
}

.app-header {
  font-size: 5em;
  font-weight: 700;
  color: #FFF;
  text-shadow: none;
  background: #4A708B;
  border-radius: 5px;
  padding: 5px;
}

.app-header i {
  color: #FDB813;
}

